{% extends "trees/base.html" %}

{% load static %}

{% block title %}Home | {{user.username}}{% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'trees/css/folder.css' %}">
    <style>
        :root {
            --shadow: {{shadow}} ;
            --backgroundDark: {{backgroundDark}} ;
            --highlight: {{link}};
            --leaf: {{leaf}};
            --box: {{box}};
            --icolor: {{icolor}};
            --text: {{text}};
            --success: {{success}};
            --background: {{background}};
        }
    </style>
{% endblock %}

{% block content %}
{% if profile.selected.all %}
<button id="dump" onclick="document.getElementById('dump-form').submit()"></button>
<form method="post" id="dump-form" style="display:none;">
    {% csrf_token %}
    <input name="dump" value="True">
</form>
{% endif %}
<div style="width:100%">
{% for branch in folder.branches.all %}
<div style="width:100%;display: flex; align-items: center;">
    <div class="branch" onclick="window.location.href='/branch/{{branch.id}}'" style="width:90%">{{branch.text|safe}}</div>
    <button class="remove" data-branch="{{branch.id}}" onclick="removeFolder(event)"></button>
</div>
{% endfor %}
<div id="add-branch"></div>
</div>
<div id="cover">
    <form method="post" id="popup">
        {% csrf_token %}
        <input id="input-branch-title" name="new_branch" placeholder="title...">
        <div style="display:flex;justify-content: center;gap: 10px;">
            <button type="button" onclick="document.getElementById('cover').style.display='none'">Cancel</button>
            <button>Create</button>
        </div>
    </form>
</div>
{% endblock %}
{% block frontendCode %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var profile = "{{profile.id}}"
    </script>
    <script type="text/javascript" src="{% static 'trees/js/folder.js' %}"></script>
{% endblock %}
